body ul li div a {
  vertical-align: middle;
  font-size: 14px;
}

span {
  vertical-align: middle;
}

span.glyphicon {
  font-size: 6em;
}

span.unknown {
  color: gray;
}

span.checkup {
  color: green;
}

span.checkdown {
  color: red;
}

span.nomatch {
  color: #FBB917;
}

div.url {
  display: inline-block;
  width:200px;
  word-wrap: break-word;
}

div.responsetimes {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  height: 250px;
}
