<html>
<head>
  <!-- Load bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='pingdomclone.css')}}">
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(main);

    function drawChart(datapoints, ind) {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Date');
      data.addColumn('number', 'Response time');
      data.addRows(datapoints.slice(1, 200));

      // chart options
      var options = {'title':'request time (only 200 last samples)'};

      // Instantiate and draw chart
      var chart = new google.visualization.LineChart(document.getElementById('chart'+ind));
      chart.draw(data, options);
    }

    function main() {

      {% for site in sites %}
      drawChart({{site.resp_time}}, {{loop.index}})
      {% endfor %}

    }

  </script>
</head>
<body>
  <title>Pingdom-clone in Python</title>
  <h1>Sites available</h1>
  <ul>
  {% for site in sites %}
  <li>
    <span><a href="{{site.url}}">{{site.url}}</a></span>
    <span>HTTP {{site.last_http_code}}</span>
    <div class="responsetimes" id="chart{{loop.index}}"></div>
    {% if not site.last_http_code %}
    <span class="glyphicon glyphicon-minus" aria-hidden="true">
    {% elif site.last_http_code >= 200 and site.last_http_code < 300 %}
    <span class="glyphicon glyphicon-arrow-up checkup" aria-hidden="true">
    {% else %}
    <span class="glyphicon glyphicon-arrow-down checkdown" aria-hidden="true">
    {% endif %}
    </span>
  </li>
  {% endfor %}
  </ul>
</body>
</html>
