<html>
<head>
  <!-- Load bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='pingdomclone.css')}}">
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(main);

    function drawChart(datapoints, ind) {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Date');
      data.addColumn('number', 'Response time');
      // get 200 last elements
      sliced_data = datapoints.slice(Math.max(datapoints.length - 200, 1));
      reformatted_data = sliced_data.map(function(tuple){
        return ([new Date(tuple[0] * 1000), tuple[1]])
      });
      data.addRows(reformatted_data);

      // chart options
      var options = {
        'title':'request time in ms (only 200 last samples)',
        'hAxis': {
          'format': 'HH:mm',
        }
      };

      // Instantiate and draw chart
      var chart = new google.visualization.LineChart(document.getElementById('chart'+ind));
      chart.draw(data, options);
    }

    function main() {

      {% for site in sites %}
      drawChart({{site.resp_time}}, {{loop.index}})
      {% endfor %}

    }

  </script>
</head>
<body>
  <title>Pingdom-clone in Python</title>
  <h1>Checking {{ sites|length }} sites for uptime</h1>
  <ul>
  {% for site in sites %}
  <li>
    <div class="url"><a href="{{site.url}}">{{site.url}}</a></div>
    <div class="responsetimes" id="chart{{loop.index}}"></div>
    {% if not site.last_http_code %}
    <span class="glyphicon glyphicon-minus unknown" aria-hidden="true"></span>
    {% elif site.last_http_code >= 200 and site.last_http_code < 300 and site.string_matched %}
    <span class="glyphicon glyphicon-arrow-up checkup" aria-hidden="true"></span>
    <span>"{{site.content_str}}" found on page (HTTP {{site.last_http_code}})</span>
    {% elif site.last_http_code >= 200 and site.last_http_code < 300 and not site.string_matched %}
    <span class="glyphicon glyphicon-arrow-down nomatch" aria-hidden="true"></span>
    <span>"{{site.content_str}}" not found on page (HTTP {{site.last_http_code}})</span>
    {% else %}
    <span class="glyphicon glyphicon-arrow-down checkdown" aria-hidden="true"></span>
    <span>Error (HTTP {{site.last_http_code}})</span>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
</body>
</html>
